@import "../../variaveis/index";

.section2 {
    width: 100%;
    height: 100%;
    background-color: #FBFFD0;

    .figure-section2 {
        width: 100%;
        height: 15.25%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .img-section2-logo {
            height: 95%;
            
        }
    }

    .section-section2-texto{
        width: 100%;
        display: flex;
        justify-content: center;

        .p-section2 {
            width: 43.87%;
            font: $irishGrover-25;
        }

    }


}