// Irish Grover

// Irish Grover 3000px
$irishGrover-120: 12.0rem "Irish Grover";
$irishGrover-50: 5.0rem "Irish Grover";
$irishGrover-40: 4.0rem "Irish Grover";
$irishGrover-34: 3.4rem "Irish Grover";

// Irish Grover Normal
$irishGrover-96: 9.6rem "Irish Grover";
$irishGrover-60: 6.0rem "Irish Grover";
$irishGrover-36: 3.6rem "Irish Grover";
$irishGrover-25: 2.5rem "Irish Grover";
$irishGrover-23: 2.3rem "Irish Grover";
$irishGrover-20: 2.0rem "Irish Grover";
$irishGrover-17: 1.7rem "Irish Grover";

// Inter
$inter-14: 1.4rem "Inter";
$inter-9: 0.9rem "Inter";
