.home-page {
    display: flex;
    flex-direction: column;

    .section-section1 {
        width: 100vw;
        height: 100vh;

    }

    .section-section2 {
        width: 100vw;
        height: auto;
    }

    .section-section3 {
        width: 100vw;
        height: auto;
    }
}