@import "../../variaveis/index";

.section-card:hover {
    cursor: pointer;

    .section-card-button {
        display: flex;
        z-index: 1;
    }

    .figure-card {
        filter: blur(10px);
    }

    .article-card {
        filter: blur(10px);
    }
}

.section-card {
    width: 315px;
    height: 335px;
    background-color: white;
    border: 1px solid black;
    border-radius: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);

    .section-card-button {
        width: 100%;
        height: 50px;
        display: none;
        justify-content: center;
        position: absolute;
        top: 150px;

        .buttom-card {
            width: 80%;
            font: $irishGrover-25;
            border: 2px solid black;
        }

        .buttom-card:hover {
            background-color: black;
            color: white;
            border: 2px solid white;
            cursor: pointer;
        }
    }

    .figure-card {
        width: 52.70%;
        min-width: 130px;
        height: 55.22%;
        padding: 1px;
        overflow-y: hidden;

        .img-card {
            width: 100%;
            height: 100%;

        }
    }

    .article-card {
        width: 100%;
        height: 44.78%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .p-card {
            font: $inter-14;
        }

        .h1-card {
            font: $irishGrover-36;
        }
    }
}

@media (max-width: 300px) {

    .section-card {
        width: 100%;
    
        .article-card {
    
            .p-card {
                font: $inter-9;
            }
    
            .h1-card {
                font: $irishGrover-23;
            }
        }
    }

}