@import '../../components/variaveis/index';

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.site-page {
    overflow-x: hidden;
}

.background {
    background-color: aquamarine;
    min-height: 100vh;
    background-image: url(../../../public/assets/images/site/background.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    display: flex;
    align-items: center;
}

.background h1 {
    display: inline;
    font-size: 50px;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 20px;
    padding: 20px 60px;
    color: white;
    position: absolute;
    width: 92%;
}

header nav span {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

header nav span a {
    color: white;
    text-decoration: none;
    position: relative;
}

@keyframes beforeAnimation {
    0% {
        width: 0%;
        transform: translateX(-50%);
    }

    100% {
        width: 100%;
        transform: translateX(0%);
    }
}

header nav span a::before {
    content: "";
    background-color: white;
    width: 100%;
    height: 2.4px;
    position: absolute;
    bottom: -5px;
    left: 0px;
    display: none;
    animation: beforeAnimation 0.5s;
}

header nav span a:hover::before {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: follow-mouse 0.5s linear infinite;
    display: unset;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFFD0;
    color: black;
    font-size: 16px;


    .content-container {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
    }

    .img-site-section2-rosinha {

        width: 180;
        height: 180px;

    }

    .img-site-section3-picachu {

        width: 180;
        height: 180px;

    }


    h1 {
        padding: 40px 0;
        font-size: 30px;
    }

    .paragrafo-site {
        align-items: center;
        text-align: center;

    }

    p {
        max-width: 100%;
        margin: 0 auto;
        color: #000;
        text-align: center;
        font-family: 'Irish Grover', sans-serif;
        font-size: 27px;
        font-style: normal;
        width: 700px;
        line-height: normal;

    }

}


.About-disney {


    display: flex;
    align-items: center;
    background-color: #2E4055;
    color: black;
    padding: 110px 120px;
    font-size: 16px;


    .content-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .img-site-section2-rosinha {

        width: 180;
        height: 180px;

    }

    .img-site-section3-picachu {

        width: 180;
        height: 180px;

    }


    h1 {
        padding: 40px 0;
        font-size: 30px;
    }

    .paragrafo-site {
        align-items: center;
        text-align: center;

    }

    p {
        max-width: 100%;
        margin: 0 auto;
        color: #000;
        text-align: center;
        font-family: 'Irish Grover', sans-serif;
        font-size: 27px;
        font-style: normal;
        width: 700px;
        line-height: normal;

    }

}

.pokemon {
    background-color: #FBFFD0;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: auto;


    .img-site-pokemon {

        width: 560px;
        height: 200px;



    }

}

.conheca-os-produtos {
    width: 100%;
    justify-content: center;
    gap: 100px;
    display: flex;
    background-color: #FBFFD0;
    text-align: center;

}

.h3-conheca-produtos {
    margin-top: 10px;
    color: #014C8D;
    font-family: Irish Grover;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    

}

.card {
    width: 100%;
    max-width: 300px;

    background-color: #f7fafc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    margin-bottom: 20px;

}


.card {

    background-color: #f7fafc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    width: 24rem;

    figure {
        display: block;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }
    }

    .card-body {
        padding: 1rem;

        .card-title {
            font-size: 1.25rem;
            font-weight: 600;
        }

        p {
            font-size: 19px;
        }

        .card-actions {
            display: flex;
            justify-content: flex-end;
            padding: 1rem;

            .btn {
                background-color: #3490dc;
                color: #ffffff;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 0.375rem;
                cursor: pointer;
            }
        }
    }
}


.footer-site {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    font-weight: bold;
}

a.link {
    text-decoration: none;
    color: inherit;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}